<h1>Returns</h1>

{% for return in returns %}
	<article class="return">
		<header>
			<h2>{{ return.item.productName }}</h2>
			<p>{{ return.authorship.createdAt()|date }}</p>
		</header>

		<dl>
			<dt>Status</dt>
			<dd>{{ return.item.status }}</dd>
		</dl>

		<p>
			<a href="{{ url('ms.user.return.detail', {'returnID': return.id}) }}">View Details</a>
		</p>
	</article>
{% endfor %}