{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	<ol class="menu">
		<li><a href="{{ url('ms.commerce.return.listing') }}">All Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'open'}) }}">Open Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'completed'}) }}">Completed Returns</a></li>
		<li><a href="{{ url('ms.commerce.return.listing.status', {'status': 'rejected'}) }}">Rejected Returns</a></li>
	</ol>
{% endblock %}

{% block main %}

	{% block returns %}
	{% endblock %}

{% endblock %}