{% extends 'Message:Mothership:User::account:account-layout' %}
{% block title %}Return Payment Success | {{ app.cfg.app.name }}{% endblock %}

{% block account_content %}

<h1>Payment Complete</h1>

<p>Your balance has been paid.</p>

{% endblock %}