{% extends 'Message:Mothership:User::account:account-layout' %}
{% block title %}Return balance paid | {{ return.getDisplayID() }} | {{ app.cfg.app.name }}{% endblock %}

{% block account_content %}

	<section>
		<h1>Your return balance payment has been completed</h1>
	</section>

	<section>
		<p>Your balance has been paid.</p>
	</section>

{% endblock %}